.page-layout {
  display: flex;
  flex-wrap: nowrap;
  font-family: monospace;
}

.sidebar a {
  display: block;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 14pt;
  color: white;
  margin: 0%;
  padding: 0%;
}

.sidebar a:hover {
  color: #064579;
}

.content-container {
  flex: 80%;
  margin-left: 3.5em;
  height: 100%;
  background-color: white;
}

.search {
  flex: 20%;
  padding: 2em;
  background-color: #77C9D4;
}

.all-products {
  flex: 80%;
  padding: 2em;
  background-color: white;
}

.sidebar-item {
  font-size: 16pt;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  font-family: monospace;
  margin-bottom: 2em;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

.card-img {
    border-radius: 5px 5px 0 0;
    margin-left: auto;
    margin-right: auto;
    width: 15em;
    height: 15em;
    display: block;
}

.more-info {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-family: monospace;
}

.active, .more-info:hover {
  background-color: #ccc;
}

.more-info-details {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.card-list {
  list-style: none;
}

.sidebar {
  flex: 20%;
  padding: 2em;
  height: 70em;
  /* position: fixed; */
  background-color: green;
}

.thumbnail {
  max-width: 3em;
  max-height: 3em;
}
